
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    background-color:rgb(184, 213, 224);
}

nav {
    padding: 10px;
    background-color: whitesmoke;
}

section {
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin: 10px;
}


/*nav consistent style*/
.nav--color a:link, .nav--color a:visited, .nav--color a:hover {
    color:black
}

.nav--color a.active {
    color:orange;
}

/* general style for links*/
a:link {
    color: black;
}

a:visited {
    color:blue
}

a:hover {
    color:red
}

a:active {
    color:orange
}
/* specificity: less to more specific: element/class/id/inline
with class =., id =# */
h3 {
    color: rgb(0, 0, 0);
}
.italics {
    font-style: italic;
}
p {
    color: rgb(15, 15, 15);
}




/* allowing image to scale with webpage, max size is pixel width  */
img {
    max-width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
  }
  
.box {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .box img {
    width: 55%;
    height: auto;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /*table styles*/

  table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: whitesmoke;
}