
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

nav {
    padding: 10px;
    background-color: whitesmoke;
}

section {
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin: 10px;
}

/*nav consistent style*/
.nav--color a:link, .nav--color a:visited, .nav--color a:hover {
    color:black
}

/* general style for links*/
a:link {
    color: black;
}

a:visited {
    color:blue
}

a:hover {
    color:red
}

a:active {
    color:orange
}
img {
    max-width: 100%;
    height: auto;
}